<div class="container mt-5">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let assignment of assignments">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{assignment.title}}
        </mat-panel-title>
        <!-- <mat-panel-description>
              Type your name and age
            </mat-panel-description> -->
      </mat-expansion-panel-header>

      <p>{{assignment.description}}</p>
      <p>{{assignment.location.street}} {{assignment.location.nr}}</p>
      <p>{{assignment.location.zipcode}} {{assignment.location.city}}</p>

      <div>
        <mat-chip-list style="display: inline;" mat-chip-list *ngFor="let tag of assignment.tags" fxFlex fxLayout="row"
          fxLayoutGap="5px">
          <mat-chip color="primary" [selected]="true">{{tag}}</mat-chip>
        </mat-chip-list>
      </div>


      <!-- Don't show when not the creator -->


      <mat-action-row>
        <a mat-button color="accent" [routerLink]="['/editAssignment', assignment.id]">EDIT</a>
        <button mat-button color="warn">DELETE</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
