



<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-2"><app-navigation></app-navigation></div>
    <div class="col-md-10">


      <div class="row" *ngIf="assignment">

        <div class="col-md-7">

          <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title ><span style="text-align: center">{{assignment.title}}</span></mat-card-title>
            </mat-card-header>
<!--            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
            <mat-card-content>
              <h3 style="text-align: center">description</h3>
              <p style="text-align: center">{{assignment.description}}</p>

              <h3 style="text-align: center">location</h3>
              <div style="text-align: center">
                <p>city: {{assignment.location.city}}</p>
                <p>nr: {{assignment.location.nr}}</p>
                <p>street: {{assignment.location.street}}</p>
                <p>zipcode: {{assignment.location.zipcode}}</p>
              </div>
              <h3 style="text-align: center">tags</h3>
<!--              <div style="text-align: center" *ngFor="let tag of assignment.assignment.tags">-->
<!--                <p>{{tag}}</p>-->
<!--              </div>-->

                <mat-chip-list *ngFor="let tag of assignment.tags" >
                  <mat-chip   color="primary" [selected]="true">{{tag}}</mat-chip>
                </mat-chip-list>



            </mat-card-content>
            <mat-card-actions>
              <button class="btn btn-primary"  [routerLink]="['/editAssignment', assignment.id]">EDIT ASSIGNMENT</button>
            </mat-card-actions>
          </mat-card>





        </div>



        <div class="col-md-5"><mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Applies
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-spinner *ngIf="isLoading"></mat-spinner>
<!--applies-->
            <mat-expansion-panel *ngFor="let apply of assignment.applies">
              <mat-expansion-panel-header>
                <mat-panel-title>
<!--                  {{apply.apply}}-->
                  Maker
                </mat-panel-title>
              </mat-expansion-panel-header>

                          <mat-list role="list">
                            <mat-list-item role="listitem">Profile</mat-list-item>
                            <mat-list-item role="listitem" (click)="onAcceptApply(assignment.id, apply.apply.id)">Accept</mat-list-item>
                            <mat-list-item role="listitem" (click)="onDenyApply(assignment.id, apply.apply.id)">Deny</mat-list-item>
                          </mat-list>

            </mat-expansion-panel>
<!--            <mat-list role="list">-->
<!--              <mat-list-item *ngFor="let apply of assignment.assignment.applies" role="listitem">{{apply.apply}} <br>X - V-->
<!--                <br>-->
<!--                <button class="btn btn-primary">Profile</button>-->
<!--                <button>Accept</button>-->
<!--                <button>Deny</button></mat-list-item>-->
<!--&lt;!&ndash;              <mat-list-item role="listitem">Item 2</mat-list-item>&ndash;&gt;-->
<!--&lt;!&ndash;              <mat-list-item role="listitem">Item 3</mat-list-item>&ndash;&gt;-->
<!--            </mat-list>-->

          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Accepted
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-expansion-panel *ngFor="let accept of assignment.accepted">
              <mat-expansion-panel-header>
                <mat-panel-title>
<!--                  {{accept.accept}}-->
Maker
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-list role="list">
                <mat-list-item role="listitem">Profile</mat-list-item>
<!--                <mat-list-item role="listitem">Accept</mat-list-item>-->
<!--                <mat-list-item role="listitem">Deny</mat-list-item>-->
              </mat-list>

            </mat-expansion-panel>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Denied
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-expansion-panel *ngFor="let deny of assignment.denied">
              <mat-expansion-panel-header>
                <mat-panel-title>
<!--                  {{deny.deny}}-->
                  Maker
                </mat-panel-title>
              </mat-expansion-panel-header>

              <mat-list role="list">
                <mat-list-item role="listitem">Profile</mat-list-item>
<!--                <mat-list-item role="listitem">Accept</mat-list-item>-->
<!--                <mat-list-item role="listitem">Deny</mat-list-item>-->
              </mat-list>

            </mat-expansion-panel>
          </mat-expansion-panel>
<!--          <mat-expansion-panel>-->
<!--            <mat-expansion-panel-header>-->
<!--              <mat-panel-title>-->
<!--                Denied-->
<!--              </mat-panel-title>-->
<!--            </mat-expansion-panel-header>-->
<!--            <mat-list role="list">-->
<!--              <mat-list-item role="listitem">Item 1</mat-list-item>-->
<!--              <mat-list-item role="listitem">Item 2</mat-list-item>-->
<!--              <mat-list-item role="listitem">Item 3</mat-list-item>-->
<!--            </mat-list>-->

<!--          </mat-expansion-panel>-->

        </mat-accordion>
        </div>

      </div>





    </div>
  </div>









</div>

