<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-2"><app-navigation></app-navigation></div>

    <div class="col-md-10" *ngIf="assignments && assignments.length < 1"><h2 style="text-align: center;">No assignments to visualize!</h2></div>
    <div class="col-md-10" *ngIf="assignments && assignments.length > 0">



      <mat-accordion multi="true">
        <mat-expansion-panel *ngFor="let assignment of assignments" hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title><h5>{{assignment.title}}</h5></mat-panel-title>
            <mat-panel-description *ngIf="assignment.applies.length > 0"> 
              <mat-icon color="warn">notification_important</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <p>{{assignment.description}}</p>
          <mat-action-row fxLayoutAlign="center center">
            <button mat-raised-button color="primary" [routerLink]="['/companyAssignmentdetail', assignment.id]"
                    matBadge="{{assignment.applies.length}}" matBadgePosition="before" matBadgeColor="accent">
              View Assignment
            </button>
            <button class="ml-5" mat-button color="warn" (click)="deleteAssignment(assignment.id)">Delete</button>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>

