<div class="container mt-5 mb-5">
    <h4>Select company</h4>
    <form [formGroup]="searchForm">
      <mat-form-field>
        <mat-label>Select a filter</mat-label>
        <mat-select [(value)]="selection" (selectionChange)="onSelectionChange()">
          <mat-option *ngFor="let category of categories" [value]="category">
            {{category}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p *ngIf="!filtered">Please choose a filter</p>

      <br />
      <div *ngIf="filtered">
      <p>Filtering by {{selection}}</p>
      <mat-form-field *ngIf="selection == 'Tags'; else noTags" style="width:95%" class="example-chip-list">
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
            {{tag}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Enter the tags your want to search by" #tagInput [formControl]="tagCtrl"
            [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
            {{tag}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <ng-template #noTags>
        <mat-form-field style="width:95%">
          <input *ngIf="selection == 'Location'" matInput type="text" formControlName="searchString" (keyup)="search()"
            placeholder="Enter a zipcode" />
          <input *ngIf="selection == 'Company'" matInput type="text" formControlName="searchString" (keyup)="search()"
            placeholder="Enter a company name" />
            <input *ngIf="selection == 'Keywords'" matInput type="text" formControlName="searchString" (keyup)="search()"
              placeholder="Enter keywords" />
        </mat-form-field>
      </ng-template>
    </div>
    </form>





<hr>


  <mat-accordion multi="true" *ngIf="results.length > 0; else allAssignments">
    <mat-expansion-panel *ngFor="let assignment of results">
      <mat-expansion-panel-header>
        <mat-panel-title><h5>{{assignment.title}}</h5></mat-panel-title>
      </mat-expansion-panel-header>

      <p>{{assignment.description}}</p>
      <div>
          <h5>Location:</h5>
          <div>{{assignment.location.street}} {{assignment.location.nr}}</div>
          <div>{{assignment.location.zipcode}} {{assignment.location.city}}</div>
      </div>
      <p>tekst</p>
      <div>
        <mat-chip-list style="display: inline;" mat-chip-list *ngFor="let tag of assignment.tags" fxFlex fxLayout="row"
          fxLayoutGap="5px">
          <mat-chip color="primary" [selected]="true">{{tag}}</mat-chip>
        </mat-chip-list>
      </div>




      <!-- Don't show when not the creator -->


      <!-- <mat-action-row>
        <a mat-button color="accent" [routerLink]="['/editAssignment', assignment.id]">EDIT</a>
        <button mat-button color="warn">DELETE</button>
      </mat-action-row> -->

      <mat-action-row fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="onApply(assignment.id)">Apply now!</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <ng-template #allAssignments>

  <p style="font-weight: bold;">No assignments found! Maybe these will interest you: </p>
  <mat-accordion multi="true">
    <mat-expansion-panel *ngFor="let assignment of assignments">
      <mat-expansion-panel-header>
        <mat-panel-title><h5>{{assignment.title}}</h5></mat-panel-title>
        <mat-panel-description>
              {{assignment.company.name}}
            </mat-panel-description>
      </mat-expansion-panel-header>

      <p>{{assignment.description}}</p>
      <div>
          <h5>Location:</h5>
          <div>{{assignment.location.street}} {{assignment.location.nr}}</div>
          <div>{{assignment.location.zipcode}} {{assignment.location.city}}</div>
      </div>

      <div>
        <mat-chip-list style="display: inline;" mat-chip-list *ngFor="let tag of assignment.tags" fxFlex fxLayout="row"
          fxLayoutGap="5px">
          <mat-chip color="primary" [selected]="true">{{tag}}</mat-chip>
        </mat-chip-list>
      </div>

      <div *ngIf="assignment.pdf">
        <a  mat-button [href]="assignment.pdf" target="_blank" color="primary" >PDF bijlage</a>
      </div>


      <!-- Don't show when not the creator -->


      <!-- <mat-action-row>
        <a mat-button color="accent" [routerLink]="['/editAssignment', assignment.id]">EDIT</a>
        <button mat-button color="warn">DELETE</button>
      </mat-action-row> -->

      <mat-action-row fxLayoutAlign="center center">
        <button mat-raised-button color="primary"  (click)="onApply(assignment.id)">Apply now!</button>
        <button mat-button color="primary" (click)="showCompantDetails(assignment.creator)">Company details</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  </ng-template>
</div>
