<div class="container mt-5 mb-5">
  <div fxLayoutAlign="center center">
    <h4>Assignment overview</h4>
  </div>
  <form [formGroup]="searchForm">
    <mat-form-field style="width: 100%;">
      <mat-label>Select a filter</mat-label>
      <mat-select [(value)]="selection" (selectionChange)="onSelectionChange()">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br />
    <div *ngIf="filtered" style="width: 100%;">
      <mat-form-field *ngIf="selection == 'Tags'; else noTags" style="width:100%" class="example-chip-list">
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (removed)="remove(tag)">
            {{tag}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Enter the tags your want to search by" #tagInput [formControl]="tagCtrl"
            [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
            {{tag}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <ng-template #noTags>
        <mat-form-field style="width: 100%;">
          <input *ngIf="selection == 'Location'" matInput type="text" formControlName="searchString" (keyup)="search()"
            placeholder="Enter a zipcode" />
          <input *ngIf="selection == 'Company'" matInput type="text" formControlName="searchString" (keyup)="search()"
            placeholder="Enter a company name" />
          <input *ngIf="selection == 'Title'" matInput type="text" formControlName="searchString" (keyup)="search()"
            placeholder="Enter a part of a title" />
        </mat-form-field>
      </ng-template>
    </div>
  </form>
  <hr>
  <mat-accordion multi="true" *ngIf="results.length > 0; else allAssignments">
    <mat-expansion-panel *ngFor="let assignment of results">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h5>{{assignment.title}}</h5>
        </mat-panel-title>
        <mat-panel-description fxHide.lt-md>
          {{assignment.company.name}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div fxFlex fxLayout="column" fxLayoutAlign="center center">
        <div class="mb-2 mt-2" fxHide.gt-sm fxFlex fxLayout="column" fxLayoutAlign="center center">
          <h6>Company</h6>
          <div>{{assignment.company.name}}</div>
        </div>
        <p class="mt-3 mb-3" align="center">{{assignment.description}}</p>
        <div class="mt-3 mb-3" fxFlex fxLayout="column" fxLayoutAlign="center center">
          <h6>Location:</h6>
          <div>{{assignment.location.street}} {{assignment.location.nr}}</div>
          <div>{{assignment.location.zipcode}} {{assignment.location.city}}</div>
        </div>
        <div class="mt-2 mb-3">
          <mat-chip-list class="mr-1 ml-1" style="display: inline;" mat-chip-list *ngFor="let tag of assignment.tags" fxFlex
            fxLayout="row" fxLayoutGap="5px">
            <mat-chip color="primary" [selected]="true">{{tag}}</mat-chip>
          </mat-chip-list>
        </div>
        <div *ngIf="assignment.pdf">
          <a mat-button [href]="assignment.pdf" target="_blank" color="primary">Assignment document</a>
        </div>
      </div>
      <mat-action-row fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="onApply(assignment.id)">Apply now!</button>
        <button mat-button color="primary" (click)="showCompantDetails(assignment.creator)">Company details</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
  <ng-template #allAssignments>
    <p class="ml-2" style="font-weight: bold;">No assignments found! Maybe these will interest you: </p>
    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let assignment of assignments">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h5>{{assignment.title}}</h5>
          </mat-panel-title>
          <mat-panel-description fxHide.lt-md>
            {{assignment.company.name}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxFlex fxLayout="column" fxLayoutAlign="center center">
          <div class="mb-2 mt-2" fxHide.gt-sm fxFlex fxLayout="column" fxLayoutAlign="center center">
            <h6>Company</h6>
            <div>{{assignment.company.name}}</div>
          </div>
          <p class="mt-3 mb-3" align="center">{{assignment.description}}</p>
          <div class="mt-3 mb-3" fxFlex fxLayout="column" fxLayoutAlign="center center">
            <h6>Location:</h6>
            <div>{{assignment.location.street}} {{assignment.location.nr}}</div>
            <div>{{assignment.location.zipcode}} {{assignment.location.city}}</div>
          </div>
          <div class="mt-2 mb-3">
            <mat-chip-list class="mr-1 ml-1" style="display: inline;" mat-chip-list *ngFor="let tag of assignment.tags" fxFlex
              fxLayout="row" fxLayoutGap="5px">
              <mat-chip color="primary" [selected]="true">{{tag}}</mat-chip>
            </mat-chip-list>
          </div>
          <div *ngIf="assignment.pdf">
            <a mat-button [href]="assignment.pdf" target="_blank" color="primary">Assignment document</a>
          </div>
        </div>
        <mat-action-row fxLayoutAlign="center center">
          <button mat-raised-button color="primary" (click)="onApply(assignment.id)" >Apply now!</button>
          <button mat-button color="primary" (click)="showCompantDetails(assignment.creator)">Company details</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-template>
</div>
