<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Choose your profile</ng-template>
      <!-- <label>Name</label><br/> -->
      <mat-form-field>
        <input type="text" matInput placeholder="Name" [(ngModel)]="user.name" formControlName='name' required/>
      </mat-form-field>
      <!-- <label>email</label><br/> -->
      <br/>
  <mat-form-field>
    <input type="text" matInput placeholder="Email" [(ngModel)]="user.email" formControlName='email' required/>
  </mat-form-field>
  <!-- <label>Password</label><br/> -->
  <br/>
  <mat-form-field>
    <input type="password" matInput placeholder="Password" [(ngModel)]="user.password" formControlName='password' required/>
  </mat-form-field>
  <!-- <label>Confirm password</label><br/>
  <mat-form-field>
    <input type="text" matInput placeholder="Street" [(ngModel)]="company.street" formControlName='street' required/>
  </mat-form-field> -->
  <br/>
        <button matStepperNext (click)="setMaker()" mat-button name="makerBtn">I am a Maker</button> or
        <button matStepperNext (click)="setCompany()" mat-button name="companyBtn">I am a company</button>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out this form</ng-template>

      <app-sign-up-makers *ngIf="userType == 'm'"></app-sign-up-makers>
      <app-sign-up-company *ngIf="userType == 'c'"></app-sign-up-company>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Profile pic</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="thirdCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="onSubmit()">Submit</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
