<div>
<h4>{{assignment.title}}</h4>
<p>{{assignment.description}}</p>
<div>Created by {{creator}}</div>
<br/>
<p class="subtitle">Tags for this assignment</p>
<mat-chip-list>
  <mat-chip *ngFor="let tag of assignment.tags">{{tag}}</mat-chip>
</mat-chip-list>
<br/>
<p class="subtitle">Location for this assignment:</p>
<div>
  {{assignment.location[0].street }} {{assignment.location[0].street}} <br/>
  {{assignment.location[0].zipcode}} {{assignment.location[0].city}}
</div>
<button (click)="getUser()">GetUser() (testing)</button>
</div>
