<div class="row" *ngIf="assignment">

  <div class="col-8">

    <h1 >{{assignment.assignment.title}}</h1>
<h2>description</h2>
    <p >{{assignment.assignment.description}}</p>

    <h2>location</h2>
    <div *ngFor="let location of assignment.assignment.location">
      <p>city: {{location.city}}</p>
      <p>nr: {{location.nr}}</p>
      <p>street: {{location.street}}</p>
      <p>zipcode: {{location.zipcode}}</p>
    </div>
<h2>tags</h2>
    <div *ngFor="let tag of assignment.assignment.tags">
      <p>{{tag}}</p>
    </div>

    <button class="btn btn-primary"  [routerLink]="['/editAssignment', assignment._id]">EDIT ASSIGNMENT</button>



<!--    <p>{{assignment.location}}</p>-->
<!--    <p>{{assignment.tags}}</p>-->










  </div>












  <div class="col-4">makers applied...</div>

</div>
