<div class="container mt-5 mb-5">
  <mat-card *ngIf="showAssessment">
    <mat-card-title fxLayoutAlign="center center">Assignment</mat-card-title>
    <mat-card-content>
      <form [formGroup]="assignmentForm">
        <mat-vertical-stepper>
          <mat-step label="Choose title">
            <mat-form-field>
              <input type="text" matInput placeholder="Title" formControlName="title" />
              <mat-error>The title is required!</mat-error>
            </mat-form-field>
          </mat-step>
          <mat-step label="Write Description">
            <mat-form-field>
              <textarea matInput rows="6" name="content" placeholder="Description"
                formControlName="description"></textarea>
              <mat-error>Required!</mat-error>
            </mat-form-field>
          </mat-step>
          <mat-step label="Add tags">
            <mat-form-field class="example-chip-list">
              <mat-chip-list #chipList aria-label="Fruit selection">
                <mat-chip color="primary" selected [selectable]="true" *ngFor="let tag of tags" [removable]="true"
                  (removed)="remove(tag)">
                  {{tag}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input placeholder="tags..." #tagInput [formControl]="tagCtrl" [matAutocomplete]="auto"
                  [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                  {{tag}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </mat-step>
          <mat-step label="Upload document">
            <div>
              <button mat-raised-button type="button" color="primary" (click)="pdfPicker.click()">Pick PDF</button>
              <input type="file" #pdfPicker (change)="onPdfPicked($event)" />
              <p class="mt-3" *ngIf="pdf"><a [href]="pdf" target="_blank" mat-button color="primary">Assignment Task</a></p>
            </div>
          </mat-step>
          <mat-step label="Location">
            <div class="row">
              <mat-form-field class="col-lg-6 col-md-12">
                <input type="text" matInput placeholder="Street" formControlName="street" />
                <mat-error>The street is required!</mat-error>
              </mat-form-field>
              <mat-form-field class="col-lg-6 col-md-12">
                <input type="text" matInput placeholder="Number" formControlName="nr" />
                <mat-error>The nr is required!</mat-error>
              </mat-form-field>
              <mat-form-field class="col-lg-6 col-md-12">
                <input type="text" matInput placeholder="Zipcode" formControlName="zipcode" />
                <mat-error>The zipcode is required!</mat-error>
              </mat-form-field>
              <mat-form-field class="col-lg-6 col-md-12">
                <input type="text" matInput placeholder="City" formControlName="city" />
                <mat-error>The city is required!</mat-error>
              </mat-form-field>
            </div>
          </mat-step>
        </mat-vertical-stepper>
      </form>
    </mat-card-content>
    <mat-card-actions fxLayoutAlign="center center">
      <button mat-raised-button color="primary" [disabled]="assignmentForm.invalid" (click)="onSaveAssignment()">Submit Assignment</button>
    </mat-card-actions>
  </mat-card>
  <mat-card fxLayoutAlign="center center" *ngIf="!showAssessment">
    <h3>First fill in your credentials!</h3>
  </mat-card>
</div>
