<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation" >
      <mat-nav-list>
          <a mat-list-item routerLink="/" (click)="sidenav.close()">
              <mat-icon>person_add</mat-icon>
              <span>Signup</span>
          </a>
          <a mat-list-item (click)="sidenav.close()">
              <mat-icon>highlight_off</mat-icon>
              <span>Logout</span>
          </a>
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <mat-toolbar class="navbarbgc">
          <div fxHide.gt-xs>
              <button mat-icon-button (click)="sidenav.toggle()">
                  <mat-icon>menu</mat-icon>
              </button>
          </div>
          <div>Amsterdam</div>
          <div fxFlex fxLayout fxLayoutAlign="flex-end" class="navigation-items" fxHide.lt-sm>
              <ul fxLayout fxLayoutGap="20px" class="navigation-items">
                  <li><a routerLink="/" routerLinkActive="true" class="home">Home</a></li>
                  <li><a routerLink="/createAssignment" routerLinkActive="true">Create Assignment</a></li>
                  <li><a routerLink="/overview" routerLinkActive="true">Overview</a></li>
                  <li><a routerLink="/company" routerLinkActive="true">Company</a></li>
                  <li><a routerLink="/fuckdit" routerLinkActive="true">FUCKDIT</a></li>
                  <!-- <li><a routerLink="/signUp" routerLinkActive="true">Signup</a></li>
                  <li><a routerLink="/companyhomepage" routerLinkActive="true">Company home</a></li>
                  <li><a routerLink="/tag" routerLinkActive="true">Tag</a></li>
                  <li><a routerLink="/companydashboard/5defa5ec1abe304418d63b23" routerLinkActive="true">Comp dash</a></li>
                  <li><a routerLink="/assignmentDetail/5defa5ec1abe304418d63b23" routerLinkActive="true">comp detail</a></li> -->
                  <li><a routerLink="/signup" routerLinkActive="true">Signup</a></li>
                  <li *ngIf="!loggedIn"><a routerLink="/login">Login</a></li>
                  <li *ngIf="loggedIn"><a (click)="logOut()">Logout</a></li>
              </ul>
          </div>
          <div fxFlex fxLayout fxLayoutAlign="flex-end" class="navigation-items" fxHide.gt-xs>
          </div>
      </mat-toolbar>
      <main>
          <router-outlet></router-outlet>
      </main>
  </mat-sidenav-content>
</mat-sidenav-container>
