<mat-sidenav-container *ngIf="this.roles$">
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <div mat-list-item>
        <a routerLink="/" (click)="sidenav.close()"><img src="assets/images/devcom.png"></a>
      </div>
      <div *ngIf="(isAuthenticated$ | async) && name" id="userField" fxLayoutAlign="center center">{{name}}</div>
      <a mat-list-item routerLink="/" routerLinkActive="true" (click)="sidenav.close()">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a *ngIf="!(isAuthenticated$ | async)" mat-list-item routerLink="/login" routerLinkActive="true" (click)="sidenav.close()">
        <mat-icon>perm_identity</mat-icon>
        <span>Login</span>
      </a>
      <a *ngIf="!(isAuthenticated$ | async)" mat-list-item routerLink="/signup" routerLinkActive="true" (click)="sidenav.close()">
        <mat-icon>person_add</mat-icon>
        <span>Signup</span>
      </a>


      <a *ngIf="(roles$ | async).Developer" mat-list-item routerLink="/developerDashboard" routerLinkActive="true" (click)="sidenav.close()">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a *ngIf="(roles$ | async).Developer" mat-list-item routerLink="/developerCredentials" routerLinkActive="true" (click)="sidenav.close()">
        <mat-icon>assignment_ind</mat-icon>
        <span>Credentials</span>
      </a>

      <!-- admin en company -->
      <a *ngIf="(roles$ | async).Company" mat-list-item routerLink="/company" routerLinkActive="true" (click)="sidenav.close()">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a *ngIf="(roles$ | async).Company" mat-list-item routerLink="/createAssignment" routerLinkActive="true" (click)="sidenav.close()">
        <mat-icon>assignment</mat-icon>
        <span>Assignment</span>
      </a>
      <a *ngIf="(roles$ | async).Company" mat-list-item routerLink="/companyCredentials" routerLinkActive="true" (click)="sidenav.close()">
        <mat-icon>assignment_ind</mat-icon>
        <span>Credentials</span>
      </a>


      <a *ngIf="(roles$ | async).Admin" mat-list-item routerLink="/assignments" routerLinkActive="true" (click)="sidenav.close()">
        <mat-icon>assignment</mat-icon>
        <span>Assignments</span>
      </a>
      <a *ngIf="(roles$ | async).Admin" mat-list-item routerLink="/developers" routerLinkActive="true" (click)="sidenav.close()">
        <mat-icon>code</mat-icon>
        <span>Developers</span>
      </a>
      <a *ngIf="(roles$ | async).Admin" mat-list-item routerLink="/companies" routerLinkActive="true" (click)="sidenav.close()">
        <mat-icon>location_city</mat-icon>
        <span>Companies</span>
      </a>
      <a *ngIf="(roles$ | async).Admin" mat-list-item routerLink="/tags" routerLinkActive="true" (click)="sidenav.close()">
        <mat-icon>label</mat-icon>
        <span>Tags</span>
      </a>




      <a *ngIf="(isAuthenticated$ | async)" mat-list-item (click)="sidenav.close(); logout()">
        <mat-icon>highlight_off</mat-icon>
        <span>Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div fxHide.gt-sm>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div><a routerLink="/"><img src="assets/images/devcom.png" id="toolbarImage"/></a></div>
      <div *ngIf="(isAuthenticated$ | async) && name" id="toolbarUser" fxHide.lt-md fxLayoutAlign="center center"><span>Welcome,&nbsp;</span>{{name}}</div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" class="navigation-items" fxHide.lt-md>
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">
          <li><a routerLink="/" routerLinkActive="true" class="home"  ><mat-icon style="margin-top: 5px">home</mat-icon></a></li>
          <li *ngIf="!(isAuthenticated$ | async)" ><a ngif routerLink="/signup">Signup</a></li>
          <li *ngIf="!(isAuthenticated$ | async)"><a routerLink="/login">Login</a></li>

          <li *ngIf="(roles$ | async).Developer"><a routerLink="/developerDashboard">Dashboard</a></li>
          <li *ngIf="(roles$ | async).Developer"><a routerLink="/developerCredentials">Credentials</a></li>

          <li *ngIf="(roles$ | async).Company"><a routerLink="/company">Dashboard</a></li>
          <li *ngIf="(roles$ | async).Company"><a routerLink="/createAssignment">Assignment</a></li>
          <li *ngIf="(roles$ | async).Company"><a routerLink="/companyCredentials">Credentials</a></li>

          <li *ngIf="(roles$ | async).Admin"><a routerLink="/assignments">Assignments</a>
          <li *ngIf="(roles$ | async).Admin"><a routerLink="/developers">Developers</a></li>
          <li *ngIf="(roles$ | async).Admin"><a routerLink="/companies">Companies</a></li>
          <li *ngIf="(roles$ | async).Admin"><a routerLink="/tags">Tags</a></li>

          <li *ngIf="(isAuthenticated$ | async)"><a (click)="logout()">Logout</a></li>


        </ul>
      </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end" class="navigation-items" fxHide.gt-sm>
      </div>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
