 <form [formGroup]="makerFormSignup">
    <mat-form-field>
      <input
        matInput
        type="text"
        required
        name="nickname"
        placeholder="Nickname"
        formControlName="nickname"
      >
    </mat-form-field>
    <br>
    <mat-form-field>
      <input
        matInput
        type="text"
        required
        [ngModel]
        name="firstname"
        placeholder="First name"
        formControlName="firstname"
      >
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="text"
        required
        name="lastname"
        placeholder="Last name"
        formControlName="lastname"
      >
    </mat-form-field>
    <br>
    <mat-form-field>
      <input
        matInput
        type="text"
        required
        name="email"
        placeholder="E-mail"
        formControlName="email"
      >
    </mat-form-field>
    <br>
    <mat-form-field>
      <input
        matInput
        type="date"
        required
        name="dob"
        placeholder="Date of birth"
        formControlName="dob"
      >
    </mat-form-field>
    <br>
<label>Address</label><br/>
    <mat-form-field>
        <input
          matInput
          type="text"
          required
          name="street"
          placeholder="Street"
formControlName="street"            >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="text"
          required
          name="number"
          placeholder="Nr."
          formControlName="number"
        >
      </mat-form-field><br/>

      <mat-form-field>
          <input
            matInput
            type="text"
            required
            name="zipcode"
            placeholder="Zipcode"
            formControlName="zipcode"
          >
         </mat-form-field>

<mat-form-field>
        <input
          matInput
          type="text"
          required
          name="town"
          placeholder="Town"
          formControlName="town"
        >
      </mat-form-field><br/>

<mat-form-field class="example-chip-list">
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip
        *ngFor="let tag of tags"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(tag)">
        {{tag}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input
        placeholder="Your skills"
        #tagInput
        [formControl]="tagCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="addOnBlur"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
        {{tag}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field><br/>
    <mat-form-field>
      <textarea matInput placeholder="Bio" required
                name="bio"
                formControlName="bio"></textarea>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="LinkedIn"
                  name="linkedin"
                  formControlName="linkedin"/>
      </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Github"
                  name="github"
                  formControlName="github"/>
      </mat-form-field>
    <br>
    <mat-form-field>
      <textarea matInput placeholder="Experience" required
                name="Experience"
                formControlName="experience"></textarea>
    </mat-form-field>

    <br>
  </form>
