mat-card,
mat-card-content,
form,
mat-form-field,
.address {
  width: 100% !important;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1 rem 0;
}

.image-preview img {
  height: 100%;
  width: auto;
}
