<div class="container mt-5 mb-5">
  <!--  <h1>Company component</h1>-->

  <!--  <p>Wat moet er hier komen ?</p>-->
  <!--  <ul>-->
  <!--    <li>mat-card om de company te informeren dat er een nieuw(e) applies zijn-->
  <!--      (misschien een melding met een aantal en een doorklik knop naar een andere component waar alle applies te zien zijn.-->
  <!--    En op die volgende pagina kunnen da applies ge accept of gedeclined worden. Wat ik in gedachten was de assignment te-->
  <!--     tonen en aar alle applies bijvoegen (enkel assignments tonen die een apply bevatten). Bij een appy bekijken met er ook doorgeklikt moeten worden naar de devoloper's page.</li>-->
  <!--    <li>Knop om hun persoonlijke informatie aan te passen (Jelle is met deze page in progress)</li>-->
  <!--    <li>Review sectie</li>-->
  <!--    <li>lijst met al hun assignments op datum</li>-->
  <!--  </ul>-->
  <!--</div>-->

  <div class="row">
    <div class="col-md-2"><app-navigation></app-navigation></div>
    <div class="col-md-10"><app-create-assignment></app-create-assignment>
    </div>
  </div>
</div>

