<div class="container mt-5 mb-5" *ngIf="developer" fxFlex fxLayout="column" fxLayoutGap="20px">
  <mat-card>
    <mat-card-title>
      <h3>{{ developer.firstname }} {{developer.lastname}}</h3>
    </mat-card-title>
    <mat-card-content>
      <p>{{ developer.bio }}</p>
      <div>
        <mat-chip-list style="display: inline;" mat-chip-list *ngFor="let tag of developer.experience" fxFlex fxLayout="row"
          fxLayoutGap="5px">
          <mat-chip color="primary" [selected]="true">{{tag}}</mat-chip>
        </mat-chip-list>
      </div>
      <div>
        <h4 class="profile-title">Contact</h4>
        <div class="contact-container">
          <mat-icon>contact_mail</mat-icon><a class="contact-link" [href]="mailtoLink">{{developer.email}}</a>
        </div>
        <div  class="contact-container">
          <mat-icon>contact_phone</mat-icon><a class="contact-link" [href]="telLink">{{developer.phone}}</a>
        </div>
      </div>
      <div>
        <h4 class="profile-title">Location</h4>
        <div>{{developer.location.zipcode}} {{developer.location.city}}</div>
      </div>
    </mat-card-content>
  </mat-card>


  <mat-card *ngIf="allowed">
    <mat-card-title>
      <h3> Write Review</h3>
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="reviewForm">
          <mat-icon class="star" id="star1" (click)="onClick(1)">star_border</mat-icon>
          <mat-icon class="star" id="star2" (click)="onClick(2)">star_border</mat-icon>
          <mat-icon class="star" id="star3" (click)="onClick(3)">star_border</mat-icon>
          <mat-icon class="star" id="star4" (click)="onClick(4)">star_border</mat-icon>
          <mat-icon class="star" id="star5" (click)="onClick(5)">star_border</mat-icon>
        <br/>
        <mat-form-field>
          <textarea matInput formControlName="text" placeholder="Write a review"></textarea>
        </mat-form-field><br/>
        <button mat-button (click)="onSubmit()">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>


  <mat-card *ngIf="splicedData.length > 0">
      <mat-card-title>
        <h3>Reviews</h3>
      </mat-card-title>
      <mat-divider></mat-divider>

      <mat-card-content>
        <div *ngFor="let review of splicedData" class="review" >
          <div class="starContainer">
            <div *ngFor="let star of showStars(review)" >
              <mat-icon *ngIf="star == 'full'">star</mat-icon>
              <mat-icon *ngIf="star == 'empty'">star_border</mat-icon>
            </div>
          </div>
          <p>"{{review.text}}" - {{getUser(review)}} {{user.name}}</p>

        <mat-divider ></mat-divider>
        </div>

      <mat-paginator (page)="pageChangeEvent($event)" [length]="reviews.length"
      [pageSize]="5"
      ></mat-paginator>
      </mat-card-content>

    </mat-card>
</div>
